/*css variables*/
:root {
    --background-color: #fff;
    --primary-color: #848e86;
    --secondary-color: #d1691c;
    --tertiary-color: #2c2d2c;
  }

/*base template styles*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
/*end Base template styles*/